* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Alice', serif;
    box-sizing: border-box;
    z-index: 1;
}

#baclayon {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.836);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("baclayonchurch_img/baclayon_church-removebg.png");
    background-blend-mode: multiply;
}

.church {
    min-height: 100%;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#previ {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 15%;
    border: 2px solid rgb(96, 96, 96);
    transition: background 0.5s;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 7px 30px;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    background-color: black;
    text-decoration: none;
    border-radius: 50px;
    margin: 20px 0;
    background: rgb(161, 161, 161);
}

#previ:hover {
    background: transparent;
}

.church .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 1%;
}

.church .row .content {
    text-align: left;
}

.church .row .image img {
    width: 45vw;
    padding-left: 15px;
}

.church .row .content h3 {
    font-size: 3rem;
}

.church .row .content h3 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

h3::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 30%;
    transform: translate(-50%);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 100px;
    }
}

.church .row .content p {
    font-size: 1.2rem;
    color: rgb(252, 250, 250);
    padding: 1rem 0;
}

.church .row .content ol {
    font-size: 1.2rem;
    color: rgb(252, 250, 250);
}

.church::before,
.church::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: .5;
    border-radius: 50%;
}

.church::before {
    height: 50rem;
    width: 55rem;
    background: rgba(245, 243, 245, 0.712);
    bottom: -10rem;
    left: -10rem;
}

@media (max-width:768px) {
    #baclayon {
        padding: auto;
        height: auto;
        background-position: 60%;
    }
    .church .row {
        flex-flow: column-reverse;
        padding: 0 2rem;
    }
    .church .row .content {
        text-align: center;
    }
    .church .row .image img {
        width: 100vw;
        padding: 0%;
    }
    .container .box{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1,fr);
        
    }
}